@font-face {
    font-family: 'Montserrat Light';
    src: url(../fonts/Montserrat-Light.woff) format('woff');
    font-weight: lighter;
    font-display: swap;
}


@font-face {
    font-family: 'Montserrat SemiBold';
    src: url(../fonts/Montserrat-SemiBold.woff) format('woff');
    font-weight: bold;
    font-display: swap;
}

@font-face {
    font-family: 'Montserrat Bold';
    src: url(../fonts/Montserrat-Bold.woff) format('woff');
    font-weight: bolder;
    font-display: swap;
}

@font-face {
    font-family: 'Montserrat Medium';
    src: url(../fonts/Montserrat-Medium.woff) format('woff');
    font-weight: medium;
    font-display: swap;
}

@font-face {
    font-family: 'Almarena';
    src: url(../fonts/Almarena\ Display\ Bold.woff) format('woff');
    font-style: bold;
    font-display: swap;
}

@font-face {
    font-family: 'Almarena Regular';
    src: url(../fonts/Almarena\ Display\ Regular.woff) format('woff');
    font-style: regular;
    font-display: swap;
}


* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Times New Roman', Times, serif;
    color: black;
    line-height: 1.5;
    background-color: white;
    font-family: 'Montserrat Medium';
}

header {
    height: 100%;
}

.headerflex {
    justify-content: space-between;
    display: flex;
    align-items: flex-start;
    margin: 3rem;
    padding: 0 2rem 0 2rem;
}

.logoContainer {
    display: flex;
    flex-direction: row;
}

.logo {
    display: inline-block;
    height: 100px;
    width: auto;
}

.navbar {
    display: flex;
}

.dot {
    width: 60px; 
    height: 60px; 
    border-radius: 50px;
    background-color: yellowgreen;
    transition: height .5s ease-in-out;
    display: inline-block;
    margin: 20px;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-items: center;
    border: 2px solid white;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}

.dot img {
    width: 100%;
    padding: 5px;
    align-items: center;
    align-content: center;
}

.box img{
    padding: 10px;
}

#dotOne:hover, #dotOne:focus {
    height: 195px;
    border-radius: 50px;
    background: rgb(255,223,90);
    background: linear-gradient(160deg, rgba(255,223,90,1) 0%, rgba(255,150,181,1) 61%, rgba(233,76,123,1) 100%); 
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px;
    z-index: 999;
}

#dotTwo:hover, #dotTwo:focus {
    height: 305px;
    border-radius: 30px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px;
    z-index: 999;
}

#dotThree:hover, #dotThree:focus {
    height: 255px;
    border-radius: 30px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px;
    z-index: 999;
}

#dotOne:hover h2 {
    opacity: 100%;
    z-index: 999;
}

#dotTwo:hover h2 {
    opacity: 100%;
    z-index: 999;
}

#dotThree:hover h2 {
    opacity: 100%;
    z-index: 999;
}


.dot h2 {
    text-align: center;
    writing-mode: vertical-rl;
    text-orientation: upright; 
    padding-top: 17px;
    display: unset;
    color: white;
    font-family: 'Almarena';
    font-style: regular;
    opacity:0; 
    transition: .8s ease-in-out;
}

.projectHeader {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 0 12rem 0 12rem;
}

.hidden {
    display: none;
}

.titleOne {
    background: rgb(230,232,255);
    background: linear-gradient(170deg, rgba(230,232,255,1) 0%, rgba(255,255,255,1) 91%);
    width: 100%;
    max-height: 225px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    color: white;
    padding: 5px;
    border-radius: 20px;
    z-index: 5;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
    margin-top: 2rem;
}

.titlesubOne {
    padding-left: 1rem;
    font-family: 'Almarena';
    font-style: normal;
    letter-spacing: .075rem;  
    color: blueviolet;
}

.titlesubOne h1 {
    font-size: 25px;
}


.mediImg {
    display: inline-block;
    height: 275px;
    width: 275px;
    z-index: 10rem;
    position: relative;
    margin-bottom: 1.5 rem;
    position: relative;
    top: -25px;
}

.titleThree {
    background: rgb(230,232,255);
    background: linear-gradient(170deg, rgba(230,232,255,1) 0%, rgba(255,255,255,1) 91%);
    width: 100%;
    max-height: 225px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    color: white;
    padding: 5px;
    border-radius: 20px;
    z-index: 5;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
    margin-top: 2rem;
}

.titlesubThree {
    padding-left: 1rem;
    font-family: 'Almarena';
    font-style: normal;
    letter-spacing: .075rem;  
    color: blueviolet;
}

.titlesubThree h1 {
    font-size: 25px;
}


.poppersImg {
    display: inline-block;
    height: 275px;
    width: 275px;
    z-index: 10rem;
    position: relative;
    margin-bottom: 1.5 rem;
    position: relative;
    top: -25px;
}



.projectDescription {
    flex-direction: row;
    display: flex;
    width: 100%;
    height: auto;
    justify-content: space-evenly;
    font-size: 13px;
    margin: 1.5rem 1rem 5rem 1rem;
}

.projectTimeline {
    flex-direction: column;
    display: flex;
    align-items: flex-start;
    align-content: center;
    justify-content: space-around;
    font-size: 13px;
}

.projectTimeline ul {
    list-style-type: none;
}

.projectTimeline li {
    margin: 0 .2rem;
}

.bold {
    font-family: 'Montserrat Bold';
}

.timeline {
    flex-direction: row;
    display: flex;
    justify-content: baseline;
    align-items: center;
}

.timeline img{
    background-color: black;
    height: 20px;
    width: auto;
}

.role {
    flex-direction: row;
    display: flex;
    justify-content: baseline;
}


.role img{
    background-color: black;
    height: 10px;
    width: auto;
}

.tools {
    flex-direction: row;
    display: flex;
    justify-content: baseline;
}

.tools img{
    background-color: black;
    height: 10px;
    width: auto;
}

.projectOverview {
    flex-direction: column;
    display: flex;
    max-width: 400px;
}

main {
    height: 100%;
    width: auto;
}

.middleContainer {
    font-family: 'Almarena';
    margin: 0 12rem 0 12rem;
    min-height: 200px;
}

.middleContainerTitle {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    min-height: 200px;
    border-left: .2rem solid lightgrey;
    justify-content: left;
    max-width: 500px;
}

.circleOne {
    background-color: lightgray;
    border-radius: 100%;
    height: 70px;
    width: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 50;
    right: 39px;
    top: -1px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
}

.circleOne img {
    height: 60px;
    width: auto;
}

.middleContainer h1 {
    position: relative;
    top: -1rem;
}


.middleContainerTwo {
    font-family: 'Almarena';
    margin: 0 12rem 0 12rem;
    min-height: 100px;
}

.processTwo {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    min-height: 100px;
    border-left: .2rem solid lightgrey;
    justify-content: left;
    max-width: 500px;
}

.circleTwo {
    background-color: lightgray;
    border-radius: 100%;
    height: 70px;
    width: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 50;
    right: 39px;
    top: -1px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
}

.circleTwo img {
    height: 60px;
    width: auto;
}

.middleContainerTwo h1 {
    position: relative;
    top: -1rem;
}


.middleContainerThree {
    font-family: 'Almarena';
    margin: 0 0 0 12rem;
    min-height: 300px;
    border-left: .2rem solid lightgrey;
}

.processThree {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    min-height: 300px;
    justify-content: space-evenly;
    margin: 0 4rem;
}

.middleContainerThree img {
    height: 250px;
    width: 100%;
}

.processThree p {
    padding: 0 5rem 0 .5rem;
    font-size: 18px;
    font-family: 'Montserrat-Medium';
}

.middleContainerThree {
    font-family: 'Almarena';
    margin: 0 0 0 12rem;
    min-height: 300px;
    border-left: .2rem solid lightgrey;
}

.middleContainerFour {
    font-family: 'Almarena';
    margin: 0 12rem 0 12rem;
    min-height: 100px;
}

.processFour {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    min-height: 100px;
    border-left: .2rem solid lightgrey;
    justify-content: left;
    max-width: 500px;
}

.circleFour {
    background-color: lightgray;
    border-radius: 100%;
    height: 70px;
    width: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 50;
    right: 39px;
    top: -1px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
}

.circleFour img {
    height: 60px;
    width: auto;
}

.middleContainerFour h1 {
    position: relative;
    top: -1rem;
}


.middleContainerFive {
    font-family: 'Almarena';
    margin: 0 0 0 12rem;
    min-height: 100px;
    border-left: .2rem solid lightgrey;
}

.processFive {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    min-height: 100px;
    justify-content: space-evenly;
    margin: 0 4rem;
}

.middleContainerFive img {
    height: 100%;
    width: 400px;
}

.processFive p {
    padding: 0 5rem 0 .5rem;
    font-size: 18px;
    font-family: 'Montserrat-Medium';
}


.middleContainerSix {
    font-family: 'Almarena';
    margin: 0 0 0 12rem;
    min-height: 300px;
    border-left: .2rem solid lightgrey;
}

.processSix {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    min-height: 300px;
    justify-content: space-evenly;
    margin: 0 4rem;
}

.middleContainerSix img {
    height: 100%;
    width: 400px;
}

.processSix p {
    padding: 0 5rem 0 .5rem;
    font-size: 18px;
    font-family: 'Montserrat-Medium';
}






@media (max-width: 800px) {

    body {
    margin: 0;
    }
    
    .logo {
    display: inline-block;
    height: 90px;
    width: auto;
    }

    header {
        margin: 0;
        min-height: 20vh;
    }


    .headerflex {
    justify-content: space-between;
    display: flex;
    align-items: flex-start;
    margin: 3.5rem;
    padding: 0;
    }

    .navbar {
    display: flex;
    flex-direction: column;
    }

    .dot {
        height: 20px;
        width: 20px;
        background-color: #bbb;
        border-radius: 50%;
        margin: 5px;
    }

    .projectHeader {
        margin: 0;
    }

    .hidden {
        display: block;
        font-size: 25px;
        margin: 0 2rem 2rem 2rem;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .titleOne {
        width: 100%;
        height: auto;
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        align-content: center;
    }

    .titlesubOne {
        display: none;
    }

    .titleThree {
        width: 100%;
        height: auto;
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        align-content: center;
    }

    .titlesubThree {
        display: none;
    }


    .projectDescription {
        flex-direction: column-reverse;
        justify-content: space-between;
        margin: 0;
        margin-bottom: 2rem;
    }

    .projectTimeline {
        margin: 1rem .75rem 2rem .75rem;
    }

    .projectOverview {
        margin: 2rem .75rem 1rem .75rem;
    }

    main {
        margin: 0 3rem 0 3rem;
    }

    .middleContainer {
        margin: 0;
        margin-left: 1.5rem;
    }


    .circleOne {
        height: auto;
        width: 70;
        right: 35px;
    }

    .middleContainerTwo {
        margin: 0;
        margin-left: 1.5rem;
    }

    .circleTwo {
        height: auto;
        width: 70;
        right: 35px;
    }

    .middleContainerThree {
        margin: 0;
        margin-left: 1.5rem;
    }

    .processThree {
        flex-direction: column;
        margin-right: 0;
        min-height: 400px;
    }

    .processThree p{
        font-size: 14px;
        padding: 0;
        margin-bottom: 2rem;
        margin-top: 2rem;
    }

    .processThree img {
        height: 100%;
        width: 200px;
        margin-bottom: 2rem;
    }


    .middleContainerFour {
        margin: 0;
        margin-left: 1.5rem;
    }

    .circleFour {
        height: auto;
        width: 70;
        right: 35px;
    }

    .middleContainerFive {
        margin: 0;
        margin-left: 1.5rem;
    }

    .processFive {
        flex-direction: column;
        margin-right: 0;
        min-height: 400px;
    }

    .processFive p{
        font-size: 14px;
        padding: 0;
        margin-bottom: 2rem;
        margin-top: 2rem;
    }

    .processFive img {
        width: 200;
        height: 100%;
    }

    .middleContainerSix {
        margin: 0;
        margin-left: 1.5rem;
    }

    .processSix {
        flex-direction: column;
        margin-right: 0;
        min-height: 400px;
    }

    .processSix img {
        width: 200px;
        height: 100%;
    }


}


@media (min-width: 2000px) {
    
    .projectHeader {
        margin: 0 20rem 0 20rem;
    }
}